@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(material-symbols-outlined.woff2) format('woff2');
}
@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url(material-symbols-rounded.woff2) format('woff2');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100 700;
  src: url(material-symbols-sharp.woff2) format('woff2');
}

.ms-outlined { font-family: "Material Symbols Outlined"; }
.ms-rounded { font-family: "Material Symbols Rounded"; }
.ms-sharp { font-family: "Material Symbols Sharp"; }

.ms-outlined, .ms-rounded, .ms-sharp {
  font-weight: normal;
  font-style: normal;
  font-size: 1.16em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: -0.2em;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}